:root{
    --color-primary : #6D53FB;
    --color-green: #13BFA6;
    --color-orange: #fb6b25;
    --color-red: #F82649;
    --color-white: rgb(255, 255, 255);
    --color-black: rgb(0, 0, 0);
    --color-success: #56cfe1;
}

body{
  background: rgb(235, 232, 232,.6);
}
.row__post{
  background:transparent;
}

.btn-primaryP {
    color: var(--color-white) !important;
    background-color: var(--color-primary) !important;
    border-color:var(--color-white) !important;
    border-radius: 5px !important;
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    -ms-border-radius: 5px !important;
    -o-border-radius: 5px !important;
}
  .btn-primaryP:hover,
  .btn-primaryP:focus,
  .btn-primaryP:active,
  .btn-primaryP.active,
  .open .dropdown-toggle.btn-primaryP {
    color: var(--color-white) !important;
    background-color: var(--color-green) !important;
    border-color: var(--color-white) !important;
  }
  .btn-primaryP .badge {
    color: var(--color-primary) !important;
    background-color: var(--color-white) !important;
  }
/* primaryP end*/

/* successP start*/
.btn-successP {
    color: var(--color-white) !important;
    background-color: var(--color-green);
    border-color: var(--color-white) !important;
    border-radius: 5px !important;
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    -ms-border-radius: 5px !important;
    -o-border-radius: 5px !important;
}
.btn-successP:hover,
.btn-successP:focus,
.btn-successP:active,
.btn-successP.active,
.open .dropdown-toggle.btn-successP {
  color: var(--color-white) !important;
  background-color: var(--color-success) !important;
  border-color: var(--color-white) !important;
}
.btn-successP .badge {
  color: var(--color-green) !important;
  background-color: var(--color-white) !important;
}
/* successP end*/

/* dangerP start*/
.btn-dangerP {
  color: var(--color-white) !important;
  background-color: var(--color-red) !important;
  border-color: var(--color-red) !important;
  border-radius: 5px !important;
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  -ms-border-radius: 5px !important;
  -o-border-radius: 5px !important;
}
.btn-dangerP:hover,
.btn-dangerP:focus,
.btn-dangerP:active,
.btn-dangerP.active,
.open .dropdown-toggle.btn-dangerP {
  color: var(--color-white) !important;
  background-color: var(--color-orange) !important;
  border-color: var(--color-orange) !important;
}
.btn-dangerP .badge {
  color: var(--color-red) !important;
  background-color: var(--color-white) !important;
}
/* dangerP end*/

/* warningP start*/
.btn-warningP {
  color: var(--color-white) !important;
  background-color: var(--color-orange) !important;
  border-color: var(--color-white) !important;
  border-radius: 5px !important;
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  -ms-border-radius: 5px !important;
  -o-border-radius: 5px !important;
}
.btn-warningP:hover,
.btn-warningP:focus,
.btn-warningP:active,
.btn-warningP.active,
.open .dropdown-toggle.btn-warningP {
  color: var(--color-white) !important;
  background-color: var(--color-red) !important;
  border-color: var(--color-white) !important;
}
.btn-warningP .badge {
  color: var(--color-orange) !important;
  background-color: var(--color-white) !important;
}
/* warningP end*/

/* bg__persons */

/* bg__primary start */
.bg__primary{
    background: var(--color-primary);
    color:var(--color-white) !important;
}
/* bg__primary end */

/* bg__success start */
.bg__success{
  background: var(--color-green);
  color:var(--color-white) !important;
}
/* bg__success end */

/* bg__danger start */
.bg__danger{
  background: var(--color-red);
  color:var(--color-white) !important;
}
/* bg__danger end */

/* bg__info start */
.bg__info{
  background: var(--color-success);
  color:var(--color-white) !important;
}
/* bg__info end */

.bg__gray{
  background-color: #423D61;
  color:var(--color-white);
}

nav{
  position: sticky !important;
  top: 0;
  z-index: 9999;
}

.img__brand{
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.card{
  padding: 15px 8px;
  border:none;
}

.row h1{
  margin-top: 20px;
  margin-bottom: 20px;
  color: var(--color-success);
  text-align: center;
  text-shadow: 2px 2px #558ABB;
}

.card__post{
  background: var(--color-white);
  box-shadow: 1px 2px 10px rgba(0,0,0,0.2);
  border-radius:8px;
  -webkit-border-radius:8px;
  -moz-border-radius:8px;
  -ms-border-radius:8px;
  -o-border-radius:8px;
}

.card__post h3{
  margin-top: 20px;
  text-align: center;
  color:var(--color-orange);
  text-decoration: underline;

}

.card__post p{
  padding: 15px 20px;
  text-align: justify;
  text-justify: inter-word;
}

.card__post .date{
  margin-bottom: 5px;
  margin-right: 8px;
  text-align: end;
  color:var(--color-red);
}

.card__post .date i{
  margin-right: 5px;
}

hr {
  color:var(--color-success);
}

/*start style login */

.row__inicio{
  height:60px;
}

.row__inicio .col{
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left:30px;
}

.container__login{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form__login{
  
  background: var(--color-white);
  margin-top: 70px;
  padding: 5px 15px;
  width: 350px;
  height: 500px;
  box-shadow: 1px 2px 10px rgba(0,0,0,0.2);
  border-radius:8px;
  -webkit-border-radius:8px;
  -moz-border-radius:8px;
  -ms-border-radius:8px;
  -o-border-radius:8px;
}

.form__login img{
  position:relative;
  top: -45px;
  left: 33%;
  box-shadow: 1px 2px 10px rgba(0,0,0,0.2);
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.form__login input{
  font-size: 18px;
  margin-top:17px;
  margin-bottom: 20px;
  background: var(--color-white);
  width: 100%;
  height: 40px;
  border:none;
  border-bottom: 2px solid var(--color-success);
}

.form__login input:-webkit-autofill {
  -webkit-text-fill-color: var(--color-primary);
}

.form__login input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  box-shadow: 0 0 0px 1000px #fff inset;
}

.form__login input::placeholder{
  color: var(--color-primary);
  font-size: 18px;
}

.form__login input:focus{
  outline: none;
  border-bottom: 2px solid var(--color-primary);
  font-size: 18px;
}

.form__login button{
  margin-top:30px;
  width: 100%;
  height: 40px;
}

.form__login a{
  margin-top:30px;
  width: 100%;
  float:right;
}


/*end style login */

/*start style register */

.row__inicio{
  height:60px;
}

.row__inicio .col{
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left:30px;
}

.container__login{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form__register{
  background: var(--color-white);
  margin-top: 70px;
  padding: 2px 15px;
  width: 350px;
  height: 550px;
  box-shadow: 1px 2px 10px rgba(0,0,0,0.2);
  border-radius:8px;
  -webkit-border-radius:8px;
  -moz-border-radius:8px;
  -ms-border-radius:8px;
  -o-border-radius:8px;
}

.form__register img{
  position:relative;
  top: -45px;
  left: 33%;
  box-shadow: 1px 2px 10px rgba(0,0,0,0.2);
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.form__register input{
  margin-top:17px;
  width: 100%;
  height: 30px;
  border:none;
  border-bottom: 2px solid var(--color-success);
}

.form__register input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  box-shadow: 0 0 0px 1000px #fff inset;
}

.form__register input:-webkit-autofill {
  -webkit-text-fill-color: var(--color-primary);
}

.form__register input[type="checkbox"]{
  position: relative;
  left: 0;
  width: 30px;
  margin-top:30px;
  margin-left: 5px;
  height: 20px;
  border: 2px solid var(--color-success);
}

.form__register span{
  color: var(--color-primary);
}

.form__register input::placeholder{
  color: var(--color-primary);
  font-size: 18px;
}

.form__register input:focus{
  outline: none;
  border-bottom: 2px solid var(--color-primary);
}

.form__register button{
  margin-top:40px;
  width: 100%;
  height: 40px;
}

.form__register a{
  margin-top:20px;
  margin-bottom: 10px;
  width: 100%;
  float:right;
}


/*end style register */

/*start style panel */
.col__logout{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width:100%;
  height:70px;
  background: var(--color-primary);
}

.col__create__post{
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width:100%;
}

.col__logout h5{
  color: var(--color-white);
  margin-left: 20px;
}


.is__Post{
  text-align: center;
}

/*end style panel */
